<div
  class="container"
  [ngClass]="{ 'create-and-load-container': loadingSession || creatingSession }"
>
  <div class="headers">
    <h1>DnD Made Easy</h1>
    <h2>Combat System</h2>
  </div>

  <form
    *ngIf="creatingSession"
    (ngSubmit)="createSession()"
    #sessionForm="ngForm"
  >
    <label for="sessionName">Enter a session name</label>
    <input
      [(ngModel)]="sessionName"
      type="text"
      name="sessionName"
      required
      placeholder="Underworld - Boss Fight"
    />
    <button type="submit" [disabled]="sessionForm.invalid">
      Begin Fighting
    </button>
    <button (click)="goBack()">Back</button>
  </form>

  <div
    class="main-area"
    *ngIf="loggedIn && !loadingSession && !creatingSession"
  >
    <button (click)="enterSessionDetails()">Create Session</button>
    <button (click)="loadSession()">Load Session</button>
    <button (click)="logoutUser()">Log Out</button>
  </div>

  <div class="auth-area" *ngIf="!loggedIn">
    <button (click)="loginUser()">Login</button>
    <button (click)="registerUser()">Register</button>
  </div>

  <div class="load-session-container" *ngIf="loadingSession">
    <div class="session-list-container">
      <p>
        Render list here extra text loreum ipsum loreum ipsumloreum ipsumloreum
        ipsumloreum ipsumloreum ipsumloreum
      </p>
    </div>
    <button (click)="goBack()">Back</button>
  </div>
</div>
