.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.main-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1;
}

.auth-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1;
}

button {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}
