.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.skill {
  display: flex;
  justify-content: space-between;
}

.skill p {
  margin: 0;
}

.skill-modifier {
  background-color: lightgray;
  padding: 0.2rem;
  border-radius: 10%;
}
