<div class="skills-card">
  <div
    class="header"
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <strong>Skills</strong>
    <button (click)="isModalOpen = true">Edit</button>
  </div>
</div>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <div
      class="modal-header"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h3>Edit Skills</h3>
      <button (click)="isModalOpen = false">&times;</button>
    </div>
    <div class="modal-body">
      <div class="skill" *ngFor="let skill of skills | keyvalue">
        <p>{{ skill.key }}: +{{ skill.value }}</p>
        <label>
          <input type="checkbox" [(ngModel)]="proficient[skill.key]" />
          Proficient
        </label>
      </div>
    </div>
  </div>
</div>
