.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.header,
.column-names {
  display: flex;
}

.header {
  justify-content: space-between;
}

.column-names {
  color: grey;
  justify-content: space-around;
  gap: 5rem;
}

button {
  border: 4px ridge black;
  // border-style: groove;
  border-radius: 20%;
  font-size: large;
}

p {
  margin: 0;
}

hr {
  width: 100%;
  background-color: grey;
  height: 1px;
  border: 0;
}
