.saving-throws {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.saving-throw {
  display: flex;
  justify-content: space-between;
}

.saving-throw p {
  margin: 0;
}
