<div class="main-card">
  <div class="header">
    <div class="profile-picture">
      <img src="assets/alba.jpg" alt="Profile Picture" />
    </div>
    <div class="profile-text">
      <div class="profile-card">
        <Strong>Character Name</Strong>
        <p>Race * Class * Age</p>
      </div>
      <p id="level">Level 1</p>
    </div>
    <div class="profile-stats">
      <div class="profile-card">
        <strong>Health Points</strong>
        <p class="profile-stats-text">100</p>
      </div>
      <div class="profile-card">
        <strong>Armor Class</strong>
        <p class="profile-stats-text">18</p>
      </div>
      <div class="profile-card">
        <strong>Initiative</strong>
        <p class="profile-stats-text">2</p>
      </div>
    </div>
    <div class="options">
      <button (click)="goBack()">Go Back</button>
      <button (click)="saveCharacter()">Save Character</button>
    </div>
  </div>
  <div class="ability-scores card">
    <strong>Ability Scores</strong>
    <div class="ability-scores-layout">
      <div
        class="ability-score"
        *ngFor="let ability of characterStructure.abilities"
      >
        <p>{{ ability }}</p>
        <input type="number" min="10" max="20" step="1" />
      </div>
    </div>
  </div>
  <div class="actions card">Actions</div>
  <div class="inventory card">Inventory</div>
  <div class="skills card">
    <p>Skills</p>
  </div>
  <div class="notebook card">Notebook</div>
</div>
