<div class="profile">
  <div class="profile-picture">
    <img
      [src]="
        profile.profilePicture ? profile.profilePicture : 'assets/alba.jpg'
      "
      alt="Profile Picture"
    />
  </div>
  <div class="profile-text">
    <div class="profile-card">
      <strong>{{ profile.name ? profile.name : "Boblin" }}</strong>
      <p>
        {{ profile.race ? profile.race : "Goblin" }} |
        {{ profile.class ? profile.class : "Hero" }} |
        {{ profile.age ? profile.age : 24 }}
      </p>
    </div>
    <p id="level">Level {{ profile.level }}</p>
  </div>
  <div class="profile-stats">
    <div class="profile-card">
      <strong>Health Points</strong>
      <p class="profile-stats-text">{{ profile.hp }}</p>
    </div>
    <div class="profile-card">
      <strong>Armor Class</strong>
      <p class="profile-stats-text">{{ profile.ac }}</p>
    </div>
    <div class="profile-card">
      <strong>Initiative</strong>
      <p class="profile-stats-text">{{ profile.initiative }}</p>
    </div>
  </div>
  <div class="options">
    <button (click)="editProfile()">Edit Profile</button>
    <button (click)="handleCreateCharacter()">Create Character</button>
    <button (click)="goBack()">Back</button>
  </div>
</div>

<!-- //need to fix pfps, add edit profile button, edit profile modal css -->
