<div class="profile">
  <div class="profile-picture">
    <img src="assets/alba.jpg" alt="Profile Picture" />
  </div>
  <div class="profile-text">
    <div class="profile-card">
      <strong>{{ profile.name }}</strong>
      <p>{{ profile.race }} * {{ profile.class }} * {{ profile.age }}</p>
    </div>
    <p id="level">Level {{ profile.level }}</p>
  </div>
  <div class="profile-stats">
    <div class="profile-card">
      <strong>Health Points</strong>
      <p class="profile-stats-text">{{ profile.hp }}</p>
    </div>
    <div class="profile-card">
      <strong>Armor Class</strong>
      <p class="profile-stats-text">{{ profile.ac }}</p>
    </div>
    <div class="profile-card">
      <strong>Initiative</strong>
      <p class="profile-stats-text">{{ profile.initiative }}</p>
    </div>
  </div>
  <div class="options">
    <button (click)="goBack()">Go Back</button>
    <button (click)="saveCharacter()">Save Character</button>
  </div>
</div>
