<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>Register Below</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-container">
    <input
      [(ngModel)]="credentials.email"
      name="email"
      type="email"
      placeholder="baltazar@gmail.com"
    />
    <input
      [(ngModel)]="credentials.password"
      name="password"
      type="password"
      placeholder="password123"
    />
    <input
      [(ngModel)]="credentials.username"
      name="username"
      type="text"
      placeholder="mightydice20"
    />

    <button type="submit" (click)="registerUser()">Register</button>
  </mat-card-content>
</mat-card>
